# Introduction: for and while loops (10 mins)
---
The **for** statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any object (such as strings, arrays, lists, tuples, dict and so on) 
in a for loop in Python.

The **while** loop tells the computer to do something as long as a condition is met. 
A while loop consists of a block of code and a condition. The condition 
is evaluated, and if the condition is true, the code within the
block is executed. This repeats until the condition becomes false. 

[for and while loops](http://www.pythonforbeginners.com/control-flow-2/python-for-and-while-loops)
[for and while loops](http://www.cyberciti.biz/faq/python-for-loop-examples-statements/)

# While Loops
---
```python
truth_test = True
while truth_test:
    print('hello')
```
This is an example of a **while** loop. While loops continue to run until the expression after `while` evaluates to `False`. In the example above, the loop will continue to run ad infinitum because we never change `truth_test` be `False` in our block.

Now it's time for some practice. We'll create a `while` loop in conjunction with the `input` function to create the following program:
![](http://snag.gy/WsiZu.jpg)

In [1]:
truth_test = True
while truth_test:
    print('hello')
    truth_test = False

hello

In [3]:
counter = 0
while counter < 10:
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9

In [4]:
counter

10

Remember, a while loop runs until the expression is `False`. The problem is, sometimes they don't stop. To avoid this, here are some rules to follow:

1. Make sure that you use while loops sparingly. Usually a for loop is better.
2. Review your while statements and make sure that the boolean test will become False at some point.
3. When in doubt, print out your test variable at the top and bottom of the while-loop to see what it's doing.

# For Loops
---
```python
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
```

This is a **for** loop. It has the heading starting with **for**, followed by a 
variable name (count in this case), the word **in**, some sequence, and a final colon. 
As with function definitions and other heading lines, the **colon** at the end of 
the line indicates that a consistently **indented block** of statements follows 
to complete the for loop.

In [5]:
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count)

1
Yes
2
YesYes
3
YesYesYes

Let's try a simple repeat **for** loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 100 times.

In [10]:
for count in range(100):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [13]:
word = "computer"

for l in word:
    print(l.upper())

C
O
M
P
U
T
E
R

## Looping through dictionaries

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

In [15]:
me = {'first_name': "Heather", 'last_name': "Robbins"}

In [16]:
me

{'first_name': 'Heather', 'last_name': 'Robbins'}

In [17]:
me.items()

dict_items([('first_name', 'Heather'), ('last_name', 'Robbins')])

In [18]:
for k, v in me.items():
    print(k)
    print(v)
    print('')

first_name
Heather

last_name
Robbins

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

# Mapping
---
Mapping is when you have a list, but you need to make changes to the items in that list. In python, we'll use list comprehension to do this.

To illustrate mapping, let's create an array of strings for each person in the classroom: 'student' and 'teacher'. Your code should look something like this:

```python
classroom = ['student', 'student', 'teacher', 'student', ...]
```

In [19]:
classroom = ['student', 'student', 'teacher', 'student']

In [24]:
def is_student(person):
    if person == 'student':
        return 1
    else:
        return 0
    
is_student('teacher')

0

In [25]:
[is_student(person) for person in classroom]

[1, 1, 0, 1]

In [26]:
formatted_student_list = [is_student(person) for person in classroom]

In [27]:
formatted_student_list

[1, 1, 0, 1]

In machine learning, we'll need to convert strings into numbers. Let's create a function that accepts a string. Return 1 if the string is 'student' and 0 if the string is 'teacher'.

Now let's use list comprehension along with our function to convert our array of strings into an array of 1's and 0's.

## Mapping practice: odds and evens

1. Create an array of integers, 1 through 100
2. Create a function that accepts a single integer as a parameter and returns `'odd'` or `'even'`, depending on the input.
3. Use list comprehension to map through your array of integers and retun an array of odd/even strings

In [38]:
#create an array of integers: 1-100

numbers = list(range(1, 101))

In [39]:
# create a function that accepts a single integer, and returns the string 'odd' or 'even', depending on the integer

def odd_or_even(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

In [40]:
odd_or_even(87)

'odd'

In [41]:
# use list comprehension to convert your array of integers to an array of odd/even strings

[odd_or_even(num) for num in numbers]

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

## Mapping practice: square the numbers

1. Create an array of integers, 1 through 10
2. Use list comprehension to create an array that squares each number in the original array

In [42]:
# create an array of integers: 1-10

numbers = list(range(1, 11))

In [46]:
# map through the array, squaring each number in the original array. Output should look like below.

squared_numbers = [num**2 for num in numbers]
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping practice: lowercase names

1. Create a list of everyone's names in the classroom
2. Use list comprehension to return an array of lowercase names

In [47]:
people = ['Heather', 'Greg', 'Carleton', 'Riley']

In [49]:
[p.lower() for p in people]

['heather', 'greg', 'carleton', 'riley']

# Filtering
---

If you have a list of items, but only need a subset of items that meet a certain condition, that's called filtering. 

To illustrate this, let's create a list of dictionaries, one for each person in the classroom. It should look like the following:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    ...
]
```

In [50]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
[num**2 for num in numbers if num % 2 ==1]

[1, 9, 25, 49, 81]

Now let's use list comprehension to filter our list to be students only.

In [52]:
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
]

In [54]:
[person for person in classroom if person['role'] == 'student']

[{'name': 'Student McStudentson', 'role': 'student'},
 {'name': 'Student McStudentson', 'role': 'student'}]

Repeat the step above, but this time for the instructors

In [55]:
[person for person in classroom if person['role'] == 'teacher']

[{'name': 'Teacher McTeacherson', 'role': 'teacher'},
 {'name': 'Teacher McTeacherson', 'role': 'teacher'}]

# Mapping Dictionaries
---

Mapping is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': 'YOURGRANDMOTHER@AOL.COM'
}
```

As a precaution, we might want to downcase all the email addresses before saving them to a database. In the block below, map through the `users` dictionary and return the same dictionary, but with all the emails downcased.

In [56]:
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': 'YOURGRANDMOTHER@AOL.COM'
}

In [59]:
{key: value for key, value in users.items()}

{'user1': 'FOO@BAR.COM',
 'user2': 'JOHN@DOE.COM',
 'user3': 'YOURGRANDMOTHER@AOL.COM'}

In [60]:
{key: value.lower() for key, value in users.items()}

{'user1': 'foo@bar.com',
 'user2': 'john@doe.com',
 'user3': 'yourgrandmother@aol.com'}

# Filtering Dictionaries
---

If we can map dictionaries, we can also filter them. In our `users` dictionary above, let's use list comprehension to filter only users who have an AOL account.